<div class="row" *ngFor="let session of visibleSessions">
  <div class="col-md-10">
    <!-- <div class="well"> -->
    <app-collapsible-well >      <!-- [title]="session.name"> -->
      <div class="title"> <!-- class="title" or well-title -->
        {{session.name}}
        <i *ngIf="session.voters.length>3" class="glyphicon glyphicon-fire" style="color: red"></i>
      </div>
      <div class="body"> <!-- class="body" or well-body -->
        <!-- <h4>{{session.name}}</h4> -->
        <h6>{{session.presenter}}</h6>
        <span>Duration: {{session.duration | duration}}</span><br />
        <span>Level: {{session.level}}</span>
        <p>{{session.abstract}}</p>
      </div>
    </app-collapsible-well>
    <!-- </div> -->
  </div>
</div>
